* {
  margin: 0;
  padding: 0;
}

#bodycadastro {
  color: rgb(255, 182, 18);
  width: 100%;
  height: 100%;
}
#formulario {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

main {
  margin-top: 5%;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
}
footer {
  margin-top: 5rem;
}
.senha {
  display: flex;
}
#olho {
  margin-top: 5px;
  background-color: rgb(255, 182, 18);
  height: 30px;
  width: 30px;
}
#olho2 {
  margin-top: 5px;
  background-color: rgb(255, 182, 18);
  height: 30px;
  width: 30px;
}
#container1 {
  border: 2px solid rgb(255, 182, 18);
  border-radius: 10px;
  width: 40%;
  margin: 1%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2%;
}
#container2 {
  border: 2px solid rgb(255, 182, 18);
  border-radius: 10px;
  width: 40%;
  margin: 1%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2%;
}
.error {
  visibility: hidden;
  color: red;
  font-size: 10px;
}

#cidade {
  width: 50%;
}
#estado {
  width: 50%;
}
.citystate {
  display: flex;
}
#numero {
  width: 50%;
}
#complemento {
  width: 50%;
}
.botao-div {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
@media (min-width: 1441px) {
  html {
    height: 100%;
  }
  main {
    height: 100%;
  }
}
.entrar:visited {
  color: rgb(255, 182, 18);
}
.entrar:hover {
  color: rgba(23, 24, 28);
}
